<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
</button>

<header class="menu">
      <nav class="navbar navbar-expand-lg bg-body-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="./img/logometabee.png" width="95px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link " href="#" style="color: #191919;">início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #191919;">metas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #191919;">conta</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>    
</header>