<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 bg-white my-5 p-2 rounded-4">
            <h1 class="display-1 text-center">404 error</h1>
            <h1 class="text-center lead">Página não encontrada</h1>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
    


<%- include('includes/footer') %>